<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.waytech.peterparker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application

        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuUaUGWSjkYACiYNTcxNZTHXgXJ3_4l6o"/>
        <uses-library android:name="com.google.android.maps" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".activity.SignupActivity2"/>
        <activity android:name=".activity.LoginActivity2"/>
        <activity android:name=".activity.SignupActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.EditParkinglotActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.BookingActivity"/>
        <activity android:name=".activity.BookingSuccessActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.FinePWActivity"/>
        <activity android:name=".activity.CalendarActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <service android:name=".BeaconService"></service>
        <activity android:name=".activity.ManagementTimeActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.ConfirmActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.FineIDActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.ManageCalendarActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".WebViewActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.AddParkinglotActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.PointActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
        <activity android:name=".activity.ReservedParkinglotActivity"
            android:theme="@style/ActionBarTheme">
        </activity>
    </application>
</manifest>